


.amenities_list{
    text-align: center;
}


#amenities_h1{
    text-align: center;
    color: rebeccapurple;
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}