<main>
    <br><br>
    <h1 id ="management_home">Management</h1><br>
    <h2 id="userHomePageh1">Welcome Admin, {{firstName}} {{lastName}}</h2>
    <ol>
        <li><a id="profile_link" href="/user/userProfile">View Profile</a></li>
        <li><a id="userList_link" href="/user/userlist">Customer List</a></li>
        <li><a id="class_link" href="/class/classDetails">Classes List</a></li>
        <li><a id="attendence_link" href="/gym/checkIn">Customer CheckIn</a></li>
        <li><a id="addAdmin_link" href="/admin/addadmin">Create Admin Profile</a></li>
        <li><a id="addGym_link" href="/gym/addGym">Add Gym</a></li>
        <li><a id="addGym_link" href="/gym/gymDetails">List of Gyms</a></li>
        <li><a id="addGym_link" href="/class/createClass">Create Class</a></li>
        <li><a id="log_out_link" href="/user/logout">Log Out</a></li>       
    </ol>
    <br><br>
    
</main>