<main>
    <br><br>
    <h1 id ="management_home">Management</h1><br>
    <h2 id="userHomePageh1">Welcome Admin, {{firstName}} {{lastName}}</h2>
    <ol>
        <li><a id="class_link" href="">Class/Event</a></li>
        <li><a id="attendence_link" href="">Attendence</a></li>
        <li><a id="addAdmin_link" href="">Add Admin</a></li>
        <li><a id="addGym_link" href="">Add Gym</a></li>
        <li><a id="log_out_link" href="/user/logout">Log Out</a></li>       
    </ol>
    <br><br>
    
</main>