
    <h1 id ="amenities_h1">**** Amenities available across all our gyms ****</h1>
    <a class="go_home_link" href="/user">Home</a>
        <ol class="amenities_list">
            <li>
                <h2>Rowing</h2>
                <img class="images" alt="woman working on rower" src="/public/images/rower.jpg">
                <p>Every stroke on the rower activates 85% of your body’s muscles. This low impact workout helps you improve endurance, strength and power.</p>
            </li>
            <li>
                <h2>Cardio - Treadmills</h2>
                <img class="images" alt="set of Treadmill" src="/public/images/treadmill.jpg">
                <p>Whether you walk, jog or run, you’ll go at your own pace based on your fitness level. We also have bikes and striders available as alternates to the treadmill.
                </p>
            </li>
            <li>
                <h2>Strength Training – weights</h2>
                <img class="images" alt="set of weights" src="/public/images/weights.jpg">
                <p>Our weight and floor exercises change daily so you can focus on different muscles. Your coach can provide options for any movement if you have injuries or limitations.
                </p>
            </li>
            <li>
                <h2>Showers</h2>
                <img class="images" alt="the shower facility" src="/public/images/shower.jpg">
                <p>Clean and hygenic shower before you go home</p>
            </li>
            <li>
                <h2>Pools</h2>
                <img class="images" alt="The pool" src="/public/images/pool.jpg">
                <p>Olympic size pool!!</p>
            </li>
        </ol>

 