<h1>Check In</h1>

<form id="checkin-form" class=" checkin">
Enter userName to Check In

    <input type="text" name="username">

    <button type="submit">
        checkIn
    </button>
    

    <p>Current population: <span id="current-population">{{currentCapacity}}</span></p>
</form>