<br>
<br>
<a class="go_home_link" href="/user">Go to Home Page</a><br>
<br>
<h1>Gym Reviews</h1>
<br>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Review Text</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    {{#each reviews}}
      <tr>
        <td>{{this.username}}</td>
        <td>{{this.reviewText}}</td>
        <td>{{this.rating}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
