{{! this will render the landing page. }}

<main class ="landingPage_class">
    <div id="landing_page_div">
        <a id="location_link" href="">Locations</a>
        <a id="signIn_link" href="">Sign In</a>
        <a id="joinNow_link" href="">Join Now</a>
        <h1 id="gym_description">Train like a beast....</h1>
        <br>
        <a id="amenities_link" href="/amenities">Amenities</a>
        <br>
        <a id="plan_link" href="">Become a member.. Sign up to one of our many plans….</a>
        <br>
        <a id="reviews_view_link" href="">ee what users have to say about us….</a>
        <br>
    </div>
</main>