{{! this will render the landing page. }}

<main class ="landingPage_class">
    <div id="landing_page_div">
        <a id="location_link" href="/locations">Locations</a><br>
        <a id="signIn_link" href="/signin">Sign In</a><br>
        <a id="joinNow_link" href="/joinNow">Join Now</a><br>
        <h1 id="gym_description">Train like a beast....</h1>
        <hr>
        <a id="amenities_link" href="/amenities">Amenities</a>
        <br>
        <a id="plan_link" href="/membershipPlans">Become a member.. Sign up to one of our many plans….</a>
        <br>
        <a id="reviews_view_link" href="">See what users have to say about us….</a>
        <hr>
        <marquee>
        !!! The only bad workout is the one that didn't happen !!!
        </marquee>
    </div>
</main>