<main class="main">
    <h1 id="plan_h1">Membership plans</h1>
    <a class="go_home_link" href="/user">Home</a>
    <hr>
    <div class="plans-container">
        <div class="plan">
            <h3>Alpha</h3>
            <p><ul>
            <li>Monthly Dues $19.99</li>
            <li>Annual $39.99</li>
            <li>Unlimited Access to Home Club</li>
            <li>PF App Workouts</li>
            <li>Free Fitness Training</li>
            <li>Free WiFi</li>
            <li>Perks: Partner Rewards & Discounts</li>
            {{!-- <p>some details...</p> --}}
            {{#if notloogedIn}}
            <a href='/user/joinnow'><button class="plan_join_button">Join Now</button></a>
            {{/if}}
            </ul></p>
        </div>

        <div class="plan">
            <h3>Beta</h3>
            <p><ul>
            <li>Monthly Dues $29.99</li>
            <li>Annual $49.99</li>
            <li>Unlimited Access to Home Club</li>
            <li>PF App Workouts</li>
            <li>Free Fitness Training</li>
            <li>Free WiFi</li>
            <li>Perks: Partner Rewards & Discounts</li>
            <li>Bring a Guest Anytime</li>
            <li>Use of Any Planet Fitness Worldwide</li>
            <li>Use of Tanning</li>
            {{#if notloogedIn}}
            <a href='/user/joinnow'><button class="plan_join_button">Join Now</button></a>
            {{/if}}
            </ul></p>
        </div>

        <div class="plan">
            <h3>Omega</h3>
            <p><ul>
            <li>Monthly Dues $39.99</li>
            <li>Annual $69.99</li>
            <li>Unlimited Access to Home Club</li>
            <li>PF App Workouts</li>
            <li>Free Fitness Training</li>
            <li>Free WiFi</li>
            <li>Perks: Partner Rewards & Discounts</li>
            <li>Bring a Guest Anytime</li>
            <li>Use of Any Planet Fitness Worldwide</li>
            <li>Use of Tanning</li>
            <li>Use of Massage Chairs</li>
            <li>50% Off Select Drinks</li>
            <li>Premium Perks: Partner Rewards & Discounts</li>

            {{#if notloogedIn}}
            <a href='/user/joinnow'><button class="plan_join_button">Join Now</button></a>
            {{/if}}
            </ul></p>
        </div>

    </div>
</main>