<main>
    <br><br>
    {{!-- <a class="go_home_link" href="/">Go to Home Page</a><br> --}}
    <h1 id="userHomePage">Welcome, {{firstName}} {{lastName}}</h1>
    <ol>
       <li><a id="userProfile" href="/userProfile">Profile</a></li>
       <li><a id="appointments" href="/myAppointments">My Appointments</a></li>
       <li><a id="reviews" href="/myReviews">My Reviews</a></li>
       <li><a id="amenities_link" href="/amenities">Amenities</a></li>
       <li><a id="location_link" href="/locations">Locations</a></li>
       <li><a id="log_out_link" href="/logout">Log Out</a></li>
    </ol>
    <br><br>
    <h3>Current gym density</h3>
    <p>List location wise gym density. after gym db and management page is complete</p>
    <hr>
    <h3>Upcoming classess and events</h3>
    <p>Link to classes/events page</p>
    <hr>
    <h3>Workout suggestions</h3>
    <p>Some workout pics and description</p>
    <br><br>
    <p>For cancelling gym membership Please, contact the Gym Branch office in Hoboken.</p>

</main>