<main>
    <p>In user Home page</p>
    <p>Not yet designed!!</p>
    <p>Will have the below links on this page </p>
    <ol>
       <li>link to user profile page which will have all the details abou the user including the plan the user is currently erolled in.</li>
       <li>My appointments page to list the past, upcoming and cancelled appointments</li>
       <li>locations link</li>
       <li>amenities link</li>
       <li>reviews link </li>
    </ol>
</main>