<main>
    <br><br>
    {{!-- <a class="go_home_link" href="/">Go to Home Page</a><br> --}}
    <h1 id="userHomePageh1">Welcome, {{firstName}} {{lastName}}</h1>
    <ol>
        <li><a id="userProfile" href="/user/userProfile">Profile</a></li>
        <li><a id="appointments" href="/myAppointments">My Appointments</a></li>
        <li><a id="reviews" href="/myReviews">My Reviews</a></li>
        <li><a id="amenities_link" href="/user/amenities">Amenities</a></li>
        <li><a id="location_link" href="/user/locations">Locations</a></li>
        <li><a href="/myAppointments/add">Register for class</a></li>

        <li><a id="log_out_link" href="/user/logout">Log Out</a></li>
        
    </ol>
    <br><br>
    <h3>Current gym density</h3>
    <label for="location-list">Choose the gym location to see it's current density: </label>
        <select name="location-list" id="location-list">
            <option value="choose">Choose location here</option>
            {{#each gym}}
                <option value="{{this.branchName}}">{{this.branchName}}</option>
            {{/each}}
    </select>
    <p>Density: <span id="current-density">0</span></p>
    <h3>Classes and events</h3>
    <p><a id="class_link" href="/classandevent">Go to class/Event Page</a></p>
    <hr>
    <div id="workout_suggestions">
        <h3>Workout suggestions</h3><br>
    <hr>
        <h4>Shoulder and back workout</h4>
        <img class="images" alt="Arms only birddog" src="/public/images/Arms_only_birddog.jpg">
        <p>Arms only birddog</p>
        <br>
        <img class="images" alt="Bent over row" src="/public/images/bent_over_row.jpg">
        <p>Bent over row</p>
        <br>
        <h4>Arm and shoulder workout</h4>
        <img class="images" alt="Elevated biceps curl" src="/public/images/elevated_biceps_curl.jpg">
        <p>Elevated biceps curl</p>
        <br>
        <h4>Core Workouts</h4>
        <img class="images" alt="Side Plank" src="/public/images/side_plank.jpg">
        <p>Side Plank</p>
        <br>
        <img class="images" alt="100" src="/public/images/100.jpg">
        <p>100</p>
    </div>



    <p id="userPageCancellationInfo">For cancelling gym membership Please, contact the Gym Branch office in Hoboken.</p>


</main>