<main>
    <br><br>
    <a class="go_home_link" href="/">Go to Home Page</a><br>
    <h1 id="userHomePage">Welcome, {{firstName}} {{lastName}}</h1>
    <ol>
       <li><a id="userProfile" href="/userProfile">User Profile</a></li>
       <li><a id="appointments" href="/myAppointments">My Appointments</a>s</li>
       <li><a id="location_link" href="/locations">Locations</a></li>
       <li><a id="amenities_link" href="/amenities">Amenities</a></li>
       <li><a id="reviews" href="/myReviews">My Reviews</a></li>
    </ol>
</main>