<form action="/reviews/add" method="POST">
  <input type="text" name="gymId" placeholder="Gym ID">
  <input type="text" name="classId" placeholder="Class ID">
  <input type="text" name="reviewText" placeholder="Review Text">
  <input type="number" name="rating" placeholder="Rating (1-5)">
  <button type="submit">Add Review</button>
</form>

<a href="/">Back to Reviews</a>
