<main>
    <h1>Sign In</h1>
    <form id ="signIn-form" method="POST" action="/signin">
        <label for="emailAddress">Enter you email address:</label>
        <br>
        <input id ="emailAddress" type="email" name="emailAddress"/>
        <br>
        <label for="passwordInput">Enter your password:</label>
        <br>
        <input id ="passwordInput" type="password" name="passwordInput"/> 
        <br>        
        <input class="clickbutton" type="submit" value="Sign In"/>
        <br>
        {{#if error }}
            <div class="form-group">
                <div class="alert alert-danger">
                    <p>{{ error }} </p>
                </div>
            </div>
        {{/if}}    
    </form>
    <hr>
    <a href="/membershipPlans">Not yet a member yet! Click here to view our various plan to join one.!</a>
</main>