<main>
    <br><br>
    <a class="go_home_link" href="/user/protectedUserHomePage">Home Page </a><br>
    <h1 class = "center textCenter">Update password</h1>
    <br>
    <div class ="class-form class-update-form form-cont center">
    <form id ="updatePassword-form" method="POST" action="/user/updatepassword">
        <label for="passwordInput">Current Password: </label>
        <input id ="passwordInput" type="password" name="passwordInput"/>
        <br><br>
        <label for="newpasswordInput">New Password: </label>
        <input id ="newpasswordInput" type="password" name="newpasswordInput"/>
        <br><br>
        <label for="cnewpasswordInput">Confirm Password: </label>
        <input id ="cnewpasswordInput" type="password" name="cnewpasswordInput"/>
        <br><br>
        <input id="submit" class="clickbutton" type="submit" value="Update"/>
       
        {{#if error }}
            <div class="form-group">
                <div class="alert alert-danger">
                    <p>{{ error }} </p>
                </div>
            </div>
        {{/if}}    
    </form>
    </div>
</main>